/* VARIABLES */

:root {
	--color-bg: gainsboro;
	--color-fg: black;
	--color-hgl: darkred;

	--font-body: "Archivo", sans-serif;
	--font-dspl: "Archivo Narrow", sans-serif;

	--text-rg: 400;
	--text-md: 500;
	--text-bd: 700;

	--size-body: 1.25rem;
	--size-h1: 10rem;
	--size-h2: 5rem;
	--size-h3: 1.25rem;
}

/* STRUCTURE */

* {
	margin-block-start: 1rem;
}

html {
	font-size: var(--size-body);
	font-weight: var(--text-rg);
	background-color: var(--color-bg);
}

body{
	font-family: var(--font-body);
	line-height: 140%;
	text-align: justify;
	color: var(--color-fg);
	padding-inline: 15rem;
}

section {
	margin-block-start: 4rem;
	margin-block-end: 8rem;
}

footer {
	text-align: center;
	background-color: var(--color-fg);
	margin-block-end: 2rem;
}

/* CONTENTS */

h1, h2, h3 {
	font-family: var(--font-dspl);
	font-style: normal;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

em, cite{
	font-style: italic;
}

/* LINKS */

a:link{
	font-weight: var(--text-bd);
}

a:hover {
	color: var(--color-hgl);
}
