/* VARIABLES */

:root {
	--color-bg: #fdd929;
	--color-fg: black;
	--color-hgl: #eb4632;

	--font-body: "Archivo", sans-serif;
	--font-dspl: "Archivo Narrow", sans-serif;

	--text-rg: 400;
	--text-md: 500;
	--text-bd: 700;

	--size-body: 1rem;
	--size-h1: 8rem;
	--size-h2: 6rem;
	--size-h3: 4rem;

	--sp-sm: 1rem;
}

/* STRUCTURE */

html {
	background-color: var(--color-bg);
}

body{
	font-family: var(--font-body);
	font-size: var(--size-body);
	font-weight: var(--text-rg);
	line-height: calc(var(--size-body) * 1.5);
	color: var(--color-fg);
	padding-inline-start: var(--sp-sm);
	padding-inline-end: 10rem;
}

article {
	margin-block-end: 12rem;
}

footer {
	margin-block-end: 0.5rem;
}

footer a{
	text-transform: uppercase;
}

section > * + * {
	margin-block-start: 3rem;
}
