/* NAVIGATION */

nav {
	position: fixed;
	inset-block-start: var(--sp-sm);
	inset-inline-end: var(--sp-sm);
	text-transform: uppercase;
	text-align: right;
}

nav a,
nav a:visited,
nav a:link {
	font-weight: var(--text-rg);
	text-decoration: none;
}

nav p::after {
	content: ' → ';
}

summary {
	font-weight: var(--text-bd);
}

summary:hover {
	color: var(--color-hgl);
}

summary::after {
	content: "▼";
}

details[open] summary::after {
	content: "▲";
}

/* HEADINGS */

h1, h2, h3, h4 {
	font-family: var(--font-dspl);
	font-weight: var(--text-bd);
	text-transform: uppercase;
}

h1 {
	font-size: var(--size-h1);
	line-height: calc(var(--size-h1) * 0.8);
	margin-block: var(--sp-sm);
}

h2 {
	font-size: var(--size-h2);
	line-height: var(--size-h2);
	margin-block: var(--sp-sm);
}

h3 {
	font-size: var(--size-h3);
	line-height: var(--size-h3);
	margin-block: calc(var(--sp-sm) * 2);
}

h4::before, h4::after {
	color: var(--color-hgl);
	content: ' ✤ ';
}

header {
	position: sticky;
	padding-block-start: var(--sp-sm);
	inset-block-start: 0;
	max-inline-size: 40rem;
}

hgroup {
	position: sticky;
	padding-block-start: 0.25rem;
	inset-block-start: 20rem;
	background-color: var(--color-bg);
	max-inline-size: 40rem;
}

/* INLINE TEXT */

p{
	max-inline-size: 50ch;
	margin-inline-start: auto;
	margin-inline-end: var(--sp-sm);
}

blockquote {
	max-inline-size: 50ch;
	padding: var(--sp-sm);
	margin-block: 5rem;
	margin-inline-start: auto;
	margin-inline-end: 0;

	border-width: calc(var(--size-body) / 2);
	border-inline-start: calc(var(--size-body) * 2);
	border-style: solid;
}

blockquote q:hover, blockquote a:hover {
	color: var(--color-hgl);
}

em, cite{
	font-style: italic;
}

em {
	font-weight: var(--text-bd);
}

mark {
	background-color:var(--color-hgl);
}

q {
	font-style: italic;
}

q:hover {
	font-weight: var(--text-bd);
	text-transform: uppercase;
	font-style: italic;
	color: var(--color-hgl);
}

/* LINKS */

a:link{
	font-weight: var(--text-bd);
}

a:hover {
	color: var(--color-hgl);
}

p a {
	text-decoration: underline;
}

/* DIVIDERS */

.divider {
	font-size: calc(var(--size-body) * 0.8);
	color:var(--color-bg);
	background-color:var(--color-fg);
	padding-block: calc(var(--size-body) * 0.2);
	padding-inline-start: var(--sp-sm);
	max-inline-size: 40rem;
}

.outside-link::after {
	content: ' ↗ ';
}
